// DropBox and Resize
.drop-box {
	position: relative;
	font-size: 1.2rem;
	margin: 1rem;
	color: $color-white;
	background-color: $color-red-light;
	border: 1px solid $color-red-dark;
	overflow: scroll;
	z-index: 80;

	&__resize {
		&--left,
		&--right {
			display: block;
			width: 10px;
			height: 10px;
			background-color: $color-red-dark;
			position: absolute;
			z-index: 100;
		}
		
		&--left {
			bottom: 0;
			right: 0;
			cursor: nwse-resize;
			border-top-left-radius: .7rem;
		}
		&--right {
			bottom: 0;
			left: 0;
			cursor: nesw-resize;
			border-top-right-radius: .7rem;
		}	
	}
}

// List Widget
.list-widget {
	padding: 0.5rem;
	margin: 1rem;
	border-radius: 0.4rem;
	background-color: $color-white;
	text-align: center;
	color: $color-red-light;
	cursor: pointer;
  
  transition: all .5s;
}

.list-widget:hover {
  background-color: $color-black;
  color: $color-white;
}

// Notification Widget
.notification-widget {
	&__container {
		width: 100%;

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-row-gap: 1rem;

		h3 {
			margin: 1.5rem;
			text-align: center;
		}
	}

	&__btn {
		height: 100%;
		width: 100%;
		font-size: 1.5rem;
		color: $color-white;
		padding: 0.5rem;
		background-color: $color-grey-light;
		border: none;

		transition: all .5s;
	}

	&__btn:hover {
		background-color: darken($color-grey-light, 10%);
	}

	&__notification {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background-color: $color-black;
		padding: 1rem;

		button {
			color: $color-white;
			background-color: transparent;
			border: none;
		}
	}
}
