// DropBox and Resize
.drop-box {
	position: relative;
	font-size: 1.2rem;
	margin: 1rem;
	color: $color-white;
	background-color: $color-black-light;
	border: 1px solid $color-black;
	overflow: scroll;

	&__resize {
		display: block;
		width: 10px;
		height: 10px;
		cursor: nwse-resize;
		background-color: $color-black;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 100;
	}
}

// List Widget
.list-widget {
	padding: 0.5rem;
	margin: 1rem;
	border-radius: 0.4rem;
	background-color: $color-white;
	text-align: center;
	color: $color-black-light;
  cursor: pointer;
  
  transition: all .5s;
}

.list-widget:hover {
  background-color: $color-black;
  color: $color-white;
}
